<nav>
  <a href="/">Home</a>
  <a href="/admin">Admin</a>
  <a href="https://github.com/JPbooya/contact-form.git">Github</a>
  <a href="www.linkedin.com/in/johncarlo-perez-12591635a">Linkedln</a>
</nav>
